<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.morefx.xbmc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".XbmcRemoteControlApplication"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:permission="android.permission.INTERNET" >
        
        <service android:name=".services.PlayerService" />
        
        <activity
            android:name=".activities.XbmcControllerMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.XbmcConnectionEditActivity"
            android:label="" />
        <activity
            android:name=".activities.home.HomeScreenActivity"
            android:label="HomeScreenActivity" />
        <activity
            android:name=".activities.sourcebrowser.SourceBrowserActivity"
            android:label="SourceBrowserActivity" />
        <activity
            android:name=".activities.sourcebrowser.DirectoryBrowserActivity"
            android:label="DirectoryBrowserActivity" />

        <activity
         android:name=".activities.videolibrary.VideoActivity"
         android:label="VideoActivity" />
        
        <activity
            android:name=".activities.musiclibrary.ArtistActivity"
            android:label="Music Library" />
        <activity
            android:name=".activities.musiclibrary.AlbumActivity"
            android:label="Album Activity" />
        <activity
            android:name=".activities.musiclibrary.SongActivity"
            android:label="Song Activity" />
        <activity
            android:name=".preferences.ApplicationPreferenceActivity"
            android:label="" />
    </application>

</manifest>