<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.morefx.xbmc"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".XbmcRemoteControlApplication"
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name" >
        <service android:name=".services.NotificationsService" />

        <activity
            android:name=".activities.XbmcControllerMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.XbmcConnectionEditActivity"
            android:label="" />
        <activity
            android:name=".activities.home.HomeScreenActivity"
            android:label="HomeScreenActivity" />
        <activity
            android:name=".activities.home.RemoteControlActivity"
            android:label="RemoteControlActivity" />
        <activity
            android:name=".activities.sourcebrowser.SourceBrowserActivity"
            android:label="SourceBrowserActivity" />
        <activity
            android:name=".activities.sourcebrowser.DirectoryBrowserActivity"
            android:label="DirectoryBrowserActivity" />
        <activity
            android:name=".activities.videolibrary.VideoActivity"
            android:label="VideoActivity" />
        <activity
            android:name=".activities.musiclibrary.MusicLibraryActivity"
            android:label="HELL WORLD" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.morefx.xbmc.activities.home.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".activities.players.AudioPlayerActivity"
            android:icon="@drawable/audioibrary"
            android:label="Audio Player" />
        <activity
            android:name=".activities.preferences.ApplicationPreferenceActivity"
            android:label="" />
    </application>

</manifest>